<%= render :partial=>"header" %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if user_signed_in? %>
	<h2>Post something new</h2>
		<%= render :partial=>'posts/quickPost' %>
	
	<h2>Old Posts</h2>

		<%= render :partial=>"posts/userPosts"%>
<% end %>
